<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yak Application</title>
    <style>
        html {
            font-family: "Menlo", "Monaco", "Consolas", Monospaced;
        }
    </style>
</head>

<body>
<h1>Congratulations! </h1>
<h2>Yak works fine.</h2>
<h3>
    You are in => <span style="color: rebeccapurple;">{$controller}@{$action}</span>,
    Model => <span style="color: rebeccapurple;">{$model}</span>,
    View => <span style="color: rebeccapurple;">{$view}</span>
</h3>

</body>

</html>